:root {
  --workspace_color: #334771;
  --workspace_color1: #245380;
  --workspace_color2:#5c485a;
  --flyout_color: #788CB7;
  --workspace_color3: #498099;
  --background_color: #c02128;
  --green: #1ae080;
  --yellow: rgb(233, 186, 15);
  --yellow2: rgb(196, 157, 13);
}

@font-face {
  font-family: Verdana, sans-serif;

}

*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
-webkit-touch-callout: none;
}

body, html {
margin: 0;
padding: 0;
height: 100%;
background-color: var(--background_color);
font-family: Lato, sans-serif;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; 
  -webkit-touch-callout: none;
}



#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}



#controls {
  position: absolute;
  /* top: 1%; */
  /* right: 8%; */
  /* display: block; */
  /* no usar
  position: relative;
  top:25px;
  right:45px;
z-index: 5001;
*/
  /* background: transparent; */
  border: solid 10px;
  color: rebeccapurple;
  width: 100%;
  height: 100%;
  /* padding: 38px 10px 10px 10px; */
  box-sizing: border-box;
  transform: translate(0px, 0px);
  /* transition: all .2s ease-in-out; */
  /* text-align: center; */
  /* margin: 0px; */
}

#controls button {
width:  75px;
height: 75px;
margin: 1vh;
padding: 0;
outline: none;
border: none;
background-color: transparent;
transition: all .2s ease-in-out;
-webkit-tap-highlight-color: transparent;
}


#controls button:active, #controls button:active {
  transform:scale(1.1, 1.1);
  transition: all .1s ease-in-out;
}


#PairButton {
  position: absolute;
  top:15px;
  right:15px;
  z-index: 5002;
  scale: .75;
}

#PairButton button {
  /*size of button*/
  width: 75px; 
  height: 75px;

  outline: none;
  border: none;
  background-color: Transparent;
  transition: all .1s ease-in-out;
  padding: 0;
  margin-bottom: 2vh;
  cursor: pointer;
  transform:scale(1, 1);
}

#Pair button:hover {
  transform:scale(1.3, 1.3);
  transition: all .1s ease-in-out;
}


#PairButton button:active {
  transform:scale(1.0, 1.0);
  transition: all .1s ease-in-out;
}

/*
.bluetooth_connected  {
  border: 6px solid #3eeb1c !important; 
  padding: 0% 0% 0% 0% !important;
  border-radius: 50%;
  scale: 1.0;
  transition: all 1s ease-in-out;
}
*/
.connected_name {
  background-color: #fff;
  color: var(--orange);
  padding: 0.3em;
  display: inline-flex;
  font-size: 0.4em;
  margin-top: 2.2em;
  border-radius: 5px;
  float: right;
  transition: all .3s ease-in-out;
}


#hacedores_logo {
position: absolute;
bottom: 10px;
right: 25px;
width: 350px;
z-index: 1000;
}

.slider_label1 {
  position: absolute;
  margin: -2vh 0vw;
  top: 30%;
  right: 46%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}
.slider_label2 {
  position: absolute;
  margin: -2vh 0vw; 
  top: 40%;
  right: 46%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}
.slider_label3 {
  position: absolute;
  margin: -2vh 0vw; 
  top: 50%;
  right: 46%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}
.slider_label4 {
  position: absolute;
  margin: -2vh 0vw; 
  top: 60%;
  right: 46%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}



#circle {
  position: absolute;
  top: 8%;
  right: 58%;
 }

#Pad {
  position: relative;
  top: 15%;
  left: 4%;
  scale: .8;
  margin: 0% 0% 0% 4%;
  }

#Buttons {
  scale: .7;
  position: absolute;
  top: 64%;
  right: 0%;
  }
/*
#button_up {
  position: absolute;
  top: 8%;
  right: 64%;
  }

#button_right {
  position: absolute;
  top: 33%;
  right: 54%;
  }

#button_down {
  position: absolute;
  top: 58%;
  right: 64%;
  }

#button_left {
  position: absolute;
  top: 33%;
  right: 74%;
  }
*/
#L1 {
  position: absolute;
  top:25px;
  left:150px;
  }

#L1 {
  position: absolute;
  top:25px;
  left:250px;
  }


@media screen and (orientation:portrait) {

  #controls {

.slider_label1 {
  position: absolute;
  top: 40%;
  left: 7%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}

.slider_label2 {
  position: absolute;
  /* margin: 3vh; */
  top: 48%;
  left: 7%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}
.slider_label3 {
  position: absolute;
  /* margin: 3vh; */
  top: 56.5%;
  left: 7%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}
.slider_label4 {
  position: absolute;
  /* margin: 3vh; */
  top: 63.5%;
  left: 7%;
  color: #fff;
  font-weight: 650;
  font-size: 1.5em;
}
#slider1 {
  position: absolute;
  top: 42.5%;
  left: 20%;
  width: 70%;
}
#slider2 {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 70%;
}
#slider3 {
  position: absolute;
  top: 57.5%;
  left: 20%;
  width: 70%;
}
#slider4 {
  position: absolute;
  top: 65%;
  left: 20%;
  width: 70%;
}

  }

  
.layout:not(:nth-child(3)) {
 

}



}
