:root {

  --red: #c02128;

}

*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
-webkit-touch-callout: none;
}

body, html {
  margin: 0;
  padding: 00;
  height: 100%;
  background-color: var(--red);
  font-family: Roboto, sans-serif;
}

#blocklyArea {
  width: 100%;
  min-height: 100%;
}
/*
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;  disable selection/Copy of UIWebView 
-webkit-touch-callout: none;
}*/


#container {
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/ 
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}


#hacedores_logo {
  position: absolute;
  bottom: -10px;
  right: -70px;
  /* width: 8vh; */
  z-index: 5003;
  transform: scale(.5);
}

#hacedores_logo:hover {
  transform:scale(1.3, 1.3);
  transition: all .1s ease-in-out;
}
/*
.toggled {
    overflow: hidden;
    padding: 0 !important;
    max-height: 0 !important;

}

.hidden {
  transition: all .3s ease-in-out;
  transform: translate(300px, 0px) !important;
}
*/

#controls {
  display: block;
  /* z-index: 5001; */
  width: 100%;
  padding: 2.5%;
  box-sizing: border-box;
  transform: translate(0px, 0px);
  transition: all .2s ease-in-out;
}

#controls table tr td button, #controls button {
  width: 11vh;
  height: 11vh;
  /* transform: scale(1); */
  margin: 1vh;
  padding: 0px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: all .2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}


#controls table tr td button:active, #controls button:active {

  transform:scale(1.3, 1.3);
  transition: all .1s ease-in-out;
}

#controls table {
  transform: scale(.9);
  text-align: center;/*center the table on the middle*/
  width: 100%;
  display: block;
  margin: 0px auto;
}

#controls table tbody {
  display: initial;
}



#pair {
  /* width: 0%; */
  /* height: 67%; */
  position: absolute;
  top: 1%;
  right: -14px;
  z-index: 5002;
}

#pair button {
  /* width: 75px; */
  /* height: 75px; */
  outline: none;
  border: 0px;
  background-color: Transparent;
  /* padding: 0; */
  /* margin: 0vh; */
  /* cursor: pointer; */
  transform: scale(.5);
  transition: all .1s ease-in-out;
}

#pair button:hover {
  transform:scale(0.7);
  transition: all .3s ease-in-out;
}

/*
#pair button:active {
  transform:scale(1.1, 1);
  transition: all .1s ease-in-out;
}
*/

/*
.mb_connected {
   border: 10px solid #00ff09!important;
   padding: 2%  2% 0% 2%!important;
   border-radius: 100%;
    scale: 1; 
}
*/

.slider_label1 {
  color:  #fff;
  font-weight: 500;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  margin-top: -3%;
  left: 8%;
}

.slider_label2 {
  color:  #fff;
  font-weight: 500;
  font-size: 1.5em;
  position: absolute;
  top: 57%;
  margin-top: -3%;
  left: 8%;
}

#datos {
  color:  #fff;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  bottom: 1%;
  left: 7%;
  z-index: 5002;
}

.datalogger {
  position: absolute;
  bottom: 10%;
  left: 40%;
  transform: scale(.9);
  z-index: 5002;
}



.device {
  color:  #fff;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: .5%;
  margin-top: 0%;
  left: 5%;
}


@media screen and (orientation:landscape) {

  #controls {

  }

  .controller:nth-child(3) {
  width: 45% !important;
  float: left;
  margin-top: -20vh !important;
}

.controller:not(:nth-child(3)) {
  width: 75%;
  float: left;
  margin: 0vh;
}

#controls table tr td button, #controls button {
    width: 20vh;
  }

}
